@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Bitcount+Prop+Double+Ink:wght,ELSH,ELXP,SZP1,SZP2,XPN1,XPN2,YPN1,YPN2@900,74,100,100,100,100,100,69,90&display=swap');
@import "tailwindcss";



.dot{
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */

     font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:"slnt" 0,"CRSV" 0.5,"ELSH" 0,"ELXP" 0;
    
}
@theme {
  --breakpoint-sm: 426px;
  --breakpoint-md: 770px; /* changed from default 768px */
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
